openapi: 3.0.1
info:
  title: Bank Frick VBAN API
  version: 0.2.0
servers:
- url: https://api.bankfrick.li/vban
- url: https://api-test.bankfrick.li/vban
paths:
  /virtual-ibans:
    get:
      operationId: getVirtualIbans
      parameters:
      - description: Filter by list of reference accounts
        example:
        - LI4408811MAINACCOUNT1
        in: query
        name: account
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - description: Filter by list of Virtual IBAN states
        example:
        - ACTIVE
        in: query
        name: state
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PREPARED
            - ACTIVE
            - DEACTIVATION_REQUESTED
            - DEACTIVATED
          uniqueItems: true
      - description: "Page size, default 100"
        example: "10"
        in: query
        name: pageSize
        required: false
        schema:
          type: string
      - description: "Page index, default 0"
        example: "2"
        in: query
        name: pageIndex
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbansDto"
          description: OK
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Get virtual IBANs
      tags:
      - Virtual Ibans Controller
    post:
      operationId: createVirtualIban
      parameters:
      - description: Cryptographic fingerprint of request body. Provide used algorithm
          in <algorithm> header.
        in: header
        name: signature
        required: true
        schema:
          type: string
      - description: "Algorithm used for signing the request. Supported algorithms:\
          \ rsa-sha512, rsa-sha384, rsa-sha256. If not provided, the server assumes\
          \ rsa-sha512."
        in: header
        name: algorithm
        required: false
        schema:
          type: string
          default: rsa-sha512
          enum:
          - rsa-sha512
          - rsa-sha384
          - rsa-sha256
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVirtualIbanDto"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbanDto"
          description: CREATED
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Create virtual IBAN
      tags:
      - Virtual Ibans Controller
  /virtual-ibans/activations/approvals:
    put:
      operationId: approveVirtualIbanActivation
      parameters:
      - description: Cryptographic fingerprint of request body. Provide used algorithm
          in <algorithm> header.
        in: header
        name: signature
        required: true
        schema:
          type: string
      - description: "Algorithm used for signing the request. Supported algorithms:\
          \ rsa-sha512, rsa-sha384, rsa-sha256. If not provided, the server assumes\
          \ rsa-sha512."
        in: header
        name: algorithm
        required: false
        schema:
          type: string
          default: rsa-sha512
          enum:
          - rsa-sha512
          - rsa-sha384
          - rsa-sha256
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveVirtualIbanActivationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbanDto"
          description: OK
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Approve prepared virtual IBAN
      tags:
      - Virtual Ibans Controller
  /virtual-ibans/deactivations:
    put:
      operationId: deactivateVirtualIban
      parameters:
      - description: Cryptographic fingerprint of request body. Provide used algorithm
          in <algorithm> header.
        in: header
        name: signature
        required: true
        schema:
          type: string
      - description: "Algorithm used for signing the request. Supported algorithms:\
          \ rsa-sha512, rsa-sha384, rsa-sha256. If not provided, the server assumes\
          \ rsa-sha512."
        in: header
        name: algorithm
        required: false
        schema:
          type: string
          default: rsa-sha512
          enum:
          - rsa-sha512
          - rsa-sha384
          - rsa-sha256
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeactivateVirtualIbanDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbanDto"
          description: OK
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Deactivate virtual IBAN
      tags:
      - Virtual Ibans Controller
  /virtual-ibans/deactivations/approvals:
    put:
      operationId: approveVirtualIbanDeactivation
      parameters:
      - description: Cryptographic fingerprint of request body. Provide used algorithm
          in <algorithm> header.
        in: header
        name: signature
        required: true
        schema:
          type: string
      - description: "Algorithm used for signing the request. Supported algorithms:\
          \ rsa-sha512, rsa-sha384, rsa-sha256. If not provided, the server assumes\
          \ rsa-sha512."
        in: header
        name: algorithm
        required: false
        schema:
          type: string
          default: rsa-sha512
          enum:
          - rsa-sha512
          - rsa-sha384
          - rsa-sha256
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveVirtualIbanDeactivationDto"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbanDto"
          description: OK
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Approve deactivation of virtual IBAN
      tags:
      - Virtual Ibans Controller
  /virtual-ibans/{vban}:
    get:
      operationId: getVirtualIban
      parameters:
      - in: path
        name: vban
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualIbanDto"
          description: OK
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: BAD REQUEST
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponseDto"
          description: NOT FOUND
          headers:
            algorithm:
              description: "Algorithm used for signing the response. Default: rsa-sha512"
              required: true
              schema:
                type: string
            signature:
              description: "Cryptographic fingerprint of response body. For calculation\
                \ method, see <algorithm> header."
              required: true
              schema:
                type: string
      summary: Read virtual IBAN
      tags:
      - Virtual Ibans Controller
components:
  schemas:
    ApprovalDto:
      type: object
      properties:
        contactNumber:
          type: integer
          format: int64
        createdAt:
          type: string
        createdBy:
          type: string
        signatureGroup:
          type: integer
          format: int32
        signatureType:
          type: string
          enum:
          - INDIVIDUAL
          - COLLECTIVE_TWO
          - COLLECTIVE_THREE
          - COLLECTIVE_FOUR
      required:
      - contactNumber
      - createdAt
      - createdBy
      - signatureGroup
      - signatureType
    ApproveVirtualIbanActivationDto:
      type: object
      properties:
        vban:
          type: string
      required:
      - vban
    ApproveVirtualIbanDeactivationDto:
      type: object
      properties:
        vban:
          type: string
      required:
      - vban
    CreateVirtualIbanAddressDto:
      type: object
      properties:
        city:
          type: string
          maxLength: 255
          minLength: 0
        country:
          type: string
          maxLength: 255
          minLength: 0
        number:
          type: string
          maxLength: 15
          minLength: 0
        postalCode:
          type: string
          maxLength: 15
          minLength: 0
        street:
          type: string
          maxLength: 255
          minLength: 0
      required:
      - city
      - country
      - number
      - postalCode
      - street
    CreateVirtualIbanDto:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/CreateVirtualIbanAddressDto"
        description:
          type: string
          maxLength: 1000
          minLength: 0
        name:
          type: string
          maxLength: 255
          minLength: 0
        referenceAccountIban:
          type: string
      required:
      - referenceAccountIban
    DeactivateVirtualIbanDto:
      type: object
      properties:
        vban:
          type: string
      required:
      - vban
    ErrorResponseDto:
      type: object
      properties:
        reason:
          type: string
        status:
          type: integer
          format: int32
      required:
      - reason
      - status
    PaginationDto:
      type: object
      properties:
        hasMore:
          type: boolean
        pageIndex:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int64
      required:
      - hasMore
      - pageIndex
      - pageSize
      - totalCount
    VirtualIbanAddressDto:
      type: object
      properties:
        city:
          type: string
        country:
          type: string
        number:
          type: string
        postalCode:
          type: string
        street:
          type: string
      required:
      - city
      - country
      - number
      - postalCode
      - street
    VirtualIbanDto:
      type: object
      properties:
        activationApprovals:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalDto"
        address:
          $ref: "#/components/schemas/VirtualIbanAddressDto"
        createdAt:
          type: string
        createdBy:
          type: string
        deactivationApprovals:
          type: array
          items:
            $ref: "#/components/schemas/ApprovalDto"
        description:
          type: string
        name:
          type: string
        referenceAccountIban:
          type: string
        state:
          type: string
          enum:
          - PREPARED
          - ACTIVE
          - DEACTIVATION_REQUESTED
          - DEACTIVATED
        vban:
          type: string
      required:
      - activationApprovals
      - createdAt
      - createdBy
      - deactivationApprovals
      - referenceAccountIban
      - state
      - vban
    VirtualIbansDto:
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/PaginationDto"
        virtualIbans:
          type: array
          items:
            $ref: "#/components/schemas/VirtualIbanDto"
      required:
      - pagination
      - virtualIbans
